@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/general/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('/fonts/SpaceMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}